.notifications{
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.notifications::-webkit-scrollbar{
  display: none;
}

.notifications{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.notificationHeader{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.notificationHeader > h2 {
  font-size: 20px;
  font-weight: 800;

}